{%extends 'base.html'%}
{%load static%}
{%block body%}
    <!-- Banner Starts Here -->

    <div class="heading-page header-text">
        <section class="page-heading">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-content">
                            <!-- <h4>contact us</h4> -->
                            <h2>Contact Us</h2>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
    <!-- Banner Ends Here -->
    <section class="contact-us">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="down-contact">
                        <div class="row">
                            <div class="col-lg-8">
                                <!-- Alert Message for User  -->
                                {% for message in messages %}
                                    <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
                                        {{message}}
                                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                      </button>
                                    </div>
                                {%endfor%}

                                <div class="sidebar-item contact-form">
                                    <div class="sidebar-heading">
                                        <h2>Send us a message</h2>
                                    </div>
                                    <div class="content">
                                        <form action="{%url 'contact'%}" id="contact" method="post">
                                            {% csrf_token %}
                                            <div class="row">
                                                <div class="col-md-6 col-sm-12">
                                                    <fieldset>
                                                        <input id="name" name="name" placeholder="Your name" required=""
                                                            type="text" />
                                                    </fieldset>
                                                </div>
                                                <div class="col-md-6 col-sm-12">
                                                    <fieldset>
                                                        <input id="email" name="email" placeholder="Your email"
                                                            required="" type="text" />
                                                    </fieldset>
                                                </div>
                                                <div class="col-md-12 col-sm-12">
                                                    <fieldset>
                                                        <input id="subject" name="subject" placeholder="Subject"
                                                            type="text" />
                                                    </fieldset>
                                                </div>
                                                <div class="col-lg-12">
                                                    <fieldset>
                                                        <textarea id="message" class="textarea" name="message" placeholder="Your Message"
                                                            required="" rows="6"></textarea>
                                                    </fieldset>
                                                </div>
                                                <div class="col-lg-12">
                                                    <fieldset>
                                                        <button class="main-button" id="form-submit" type="submit">Send
                                                            Message</button>
                                                    </fieldset>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="sidebar-item contact-information">
                                    <div class="sidebar-heading">
                                        <h2>Contact</h2>
                                    </div>
                                    <div class="content">
                                        <ul>
                                            <!-- <li>
                                                <h5>090-484-8080</h5>
                                                <span class="span">PHONE NUMBER</span>
                                            </li>
                                            <li>
                                                <h5>info@company.com</h5>
                                                <span class="span">EMAIL ADDRESS</span>
                                            </li>
                                            <li>
                                                <h5>123 Aenean id posuere dui,
                                                    <br />Praesent laoreet 10660
                                                </h5>
                                                <span class="span">STREET ADDRESS</span>
                                            </li> -->
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-lg-12">
                    <div id="map">
                        <iframe allowfullscreen="" frameborder="0" height="450px"
                            src="https://maps.google.com/maps?q=Av.+L%C3%BAcio+Costa,+Rio+de+Janeiro+-+RJ,+Brazil&amp;t=&amp;z=13&amp;ie=UTF8&amp;iwloc=&amp;output=embed"
                            style="border:0" width="100%"></iframe>
                    </div>
                </div> -->
            </div>
        </div>
    </section>
{%endblock%}